.home-page {
  text-align: center;
  font-family: Arial, sans-serif;
}

header {
  margin-bottom: 2em;
}

input {
  padding: 0.5em;
  font-size: 1em;
  width: 100%; /* Makes the input take full width of its container */
  max-width: 400px; /* Set a max width for the input */
  margin: 0 auto; /* Center the input */
}

.job-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5em;
  padding: 2em;
}

.job-card {
  background-color: #0077b6;
  color: #fff;
  padding: 1.5em;
  border-radius: 8px;
  text-align: left;
  text-decoration: none;
  transition: transform 0.2s;
}

.job-card:hover {
  transform: scale(1.05);
  transition: all 0.3s;
  background: linear-gradient(90deg, #0077b6, #00a6d6);
  color: #ffffff;
}

.job-detail {
  padding: 2em;
}
